<div class="module progress">
	<h2>Daily Shipment Progress</h2>
	<div class="toolbar"></div>
        <div class="help">Review daily progress throughout the distribution campaign.</div>
	<table class="export">
		<thead><tr>
				<th>Date</th>
				<th>Day</th>
				<th colspan="2">Planned</th>
				<th colspan="2">In-transit</th>
				<th colspan="2">Delivered</th>
				<th colspan="2">Damaged</th>
				<th colspan="2">Alt location</th>
			</tr>
		</thead>
		<tbody>
                        {% for day in days %}
			<tr{% if day.in_future %} class="future"{% endif %}>
				<td class="min shrink"><span title="{{ day.date|date }}">{{ day.date|date:"d/m" }}</span></td>
				<td title="{{ day.date|date }}" class="day min num">{{ day.number }}</td>
				
				<td colspan="2">{{ day.planned }}</td>
				<td colspan="2">{{ day.in_transit }}</td>
				<td colspan="2">{{ day.delivered }}</td>

				<td colspan="1">{{ day.damaged }}</td>
				<td class="perc">{% ifnotequal day.damaged None %}{{ day.damaged_perc }}%{% endifnotequal %}</td>
				
				<td colspan="1">{{ day.alternate_loc }}</td>
				<td class="perc">{% ifnotequal day.alternate_loc None %}{{ day.alt_loc_perc }}%{% endifnotequal %}</td>
				
			</tr>{% endfor %}
			<tr class="totals">
                                <td colspan="2">Total</td>
                                <td colspan="2">{{ active_headmasters_or_deos}}</td>
                                <td colspan="2">{{ total_planned }}</td>
                                <td colspan="2">{{ total_in_transit }}</td>
                                <td colspan="2">{{ total_delivered }}</td>
                                <td colspan="2">{{ total_damaged }}</td>
                                <td colspan="2">{{ total_alt_loc}}</td>
                        </tr> 
		</tbody>
	</table>
</div>
