{% extends "layout-split-2.html" %}
{% block title %}Shipment Reports{% endblock %}
{% block content %}

<div class="module">

<h2>Shipments</h2>
<table width="100%">
    <thead>
        <tr>
            {# XXX many of these are specific to edusupply's app's extension of cargo #}
            <th>Cargo</th>
            <th>Destination</th>
            <th>Destination code</th>
            <th>Destination contact</th>
            <th>Destination contact phone</th>
            <th>Destination contact alternate phone</th>
            <th>Status</th>
            <th>Shipped</th>
            <th>Delivered</th>
            <th>Reported by</th>
            <th>Condition</th>
        </tr>
    </thead>
    <tbody>
        {% for ship in shipments %}
            <tr>
                {# XXX many of these are specific to edusupply's app's extension of cargo #}
                <td>{{ship.cargos_str}}</td>
                <td>{{ship.destination}}</td>
                <td>{{ship.destination.full_code}}</td>
                <td>{{ship.destination.contact}}</td>
                <td>{{ship.destination.contact_phone}}</td>
                <td>{{ship.destination.contact_alt_phone}}</td>
                <td>{{ship.get_status_display}}</td>
                <td>{{ship.shipping_time|date:"d-M-Y H:m:s"}}</td>
                <td>{{ship.actual_delivery_time|date:"d-M-Y H:m:s"}}</td>
                <td>{{ship.delivery_sighting.seen_by}}</td>
                <td>{{ship.delivery_sighting.observed_cargo.get_condition_display}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="toolbar">
    <a href="/logistics/csv/reports" class="export">Export</a>
</div>


</div>
{% endblock %}
